ul {
    list-style: none;
    margin: 5;
    padding: 0; 
}

div .message {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    margin: 5px 0px;
}


.message.right {
    text-align: right;
}

.message.left {
    text-align: left;
}

.message .message-time {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
}

.conversation {
    position: absolute;
    overflow: auto;
    padding-bottom: 10px;
    bottom: 40px;
    left: 0px;
    top: 50px;
    width:100%;
    border-top: 2px solid gray;
}

.content {
    word-wrap: break-word;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin: 5px;
    max-width: 320px;
    max-height: 450px;
}

.content #chat-iframe {
    height: 1200px;
    width: 800px;
    border: 0;

    -ms-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;

    transform-origin: 0 0;
}

.content.user {
    background: #0084ff;
    color: #fff;
    margin-right: 25px;
    min-height: 45px;
    min-width: 35px;
}

.content.bot {
    background: #eee;
    margin-left: 25px;
    min-height: 45px;
    min-width: 35px;
}

.arrow.right:before {
    border: 10px solid;
    border-color: #0084ff transparent transparent #0084ff;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    bottom: auto;
    margin-top: 5px;
    right: 5px; 
}

.arrow.left:before {
    border: 10px solid;
    border-color: #eee #eee transparent transparent;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: auto;
    right: auto;
    margin-top: 5px;
    left: 5px;
}
