<!DOCYTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <head>
        <title>{{ title }}</title>
        <script src={{ url_for("static", filename="jquery-1.9.1.min.js") }}></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/bootstrap/bootstrap.min.css') }}"> 
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/chat.css') }}"> 
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}"> 
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-brand">Lingtelli ChatBot Service</div>
            </div>
        </nav>
        <div class="conversation">
            <ul>
                <li class="bot arrow left">你好，請問需要什麼服務呢？</li>
                <li class="bot arrow left">你好，請問需要什麼服務呢？</li>
                <li class="bot arrow left">你好，請問需要什麼服務呢？</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">User Simulator进行对话模拟，每个对话片段有一个对话目标，比如基于时间、地点等订电影票等，模拟器需要判断当前对话是否成功完成或者失败退出，给出反馈信号。模拟器会以一个可配置的概率回答错误对话机器人的提问，也会以一个可配置的概率提前退出会话。具体可以看后面的示例。</li>
                <li class="user arrow right">Hi bot!</li>
                <li class="user arrow right">Hi bot!</li>
                <li class="user arrow right">Hi bot!</li>
                <li class="bot arrow left"> hello world</li>
                <li class="bot arrow left"> 安安hello world</li>
            </ul>
        </div>
        <div class="input-group">
            <input type="text" class="form-control input-lg" maxLength="50" placeholder="Text input">
            <span class="input-group-btn">
                <button type="button" class="btn btn-lg">送出</button>
            </span>
        </div>

    </body>


</html>
