<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <script src={{ url_for("static", filename="google_speech_api.js") }}></script>
        <script src={{ url_for("static", filename="jquery-1.9.1.min.js") }}></script>
    </head>
    <body>
        <div>
            <a href="#" id="start_button" onclick="startDictation(event)">Talk</a>
        </div>
        <div class="conversation">
            <p></p>
        </div>

        <div id="schedule_div">
            <iframe id="schedule_list" style="position: absolute;"
                    frameborder=0 height=100% width=100%>
            </iframe>
        </div>

        <pre class=result></pre>

    </body>
</html>
